<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
<main class="introducao-bg">

  <div class="introducao container">
  <div class="introducao-conteudo">
      <h1 class="font-1-xxl" data-anime="200">Informações completas e atualizadas<span>.</span></h1>
      <p class="font-2-l" data-anime="400">Informações sobre as regiões do Brasil, com os diversos aspectos e dados necessários para auxílio nas pesquisas.</p>
      <a class="botao" data-anime="600" href="#">Escolha a região</a>
      
  </div>
  <img 
        src="assets/introducao.png" 
        alt="Instagram"
        width="32px"
        height="32px">
  

  </div>
</main>

