    
    
    .introducao-bg{
      background: #000000 
      bottom 160px left 20px;
      box-shadow: inset 0 -30px #ffffff;
  }
      .introducao {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0px 40px;
  }
  
      .introducao-conteudo { 
      align-self: end; 
      padding-bottom: 200px;
  }
  
  
      .introducao img{
        margin-top: -0px;
      width: 100%;
      height: 100%;
      object-fit:cover;
      border-radius: 4px;
  
  }
  
      .introducao h1 {
      margin-bottom: 32px;
  
  }
  
      .introducao h1 span{
          color:#0B7367;
      }
  
  
      .introducao p {
      margin-bottom: 20px;
  
  }
  
      @media (max-width: 1200px){ 
      .introducao h1{
          font-size: 48px ;
      }
      .introducao p{
          font-size: 18px;
      }
  }
  
  
  @media (max-width: 800px){ 
      .introducao-bg{
          background: #111111;
          padding-top: 40px;
          box-shadow: inset 0 -60px #ffffff;
      }
      .introducao{
          grid-template-columns: 1fr;
          gap:32px;
      }
      .introducao-conteudo{
          padding-bottom: 0px;
      }
      .introducao h1{
          margin-bottom: 16px;
      }
      .introducao img{
          height: 100px;
          width: 100%;
      }
  
  }
  .font-1-xxl {
    font: 600 4rem/1.125 "Poppins", sans-serif;
    color: #ffffff;
  }
  .font-2-l,
    .font-2-l-b {
    font-size: 1.125rem;
    font: 400 1.5rem / 1.5 "Roboto", sans-serif;
    color: #b2b2b2;
}
.font-2-l,
.font-2-l-b {
font-size: 1.125rem;
}
.botao {
  display: inline-block;
  padding: 16px 32px;
  text-decoration: none;
  background: linear-gradient(#017c6c, #166861);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

  .botao:hover {
  background: linear-gradient(#00554a, #0d3d39);
}
  .botao.secundario {
  background: #2e2e2e;
  color: #f7f7f7;
}

  .botao.secundario:hover {
  background: #404040;
}

  .botao.seta {
  display: flex;
  align-items: center;
}

  .botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("/src/assets/seta.svg");
  transition: transform 0.2s;
}

  .botao.seta:hover::after {
  transform: translateX(4px);
}
  @media (max-width: 600px){ 
  .botao {
      padding:12px 16px;
      font-size: 1rem;
  }
}
.container{

  box-sizing: border-box;
  max-width: 1200px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}