<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
<main class="introducao-bg">

  <div class="introducao container">
  <div class="introducao-conteudo">
      <h1 class="font-1-xxl" data-anime="200">Vinicius Gatti Rodrigues<span>.</span></h1>
      <p class="font-2-l">Meu nome é Vinicius Gatti Rodrigues, nasci em 23/10/2003 e tenho 21 anos. Atualmente estudo Ciência da Computação (Unimar)
        e Engenharia da computação(Univesp). Moro na cidade de Marília e trabalho atualmente na RIC - Ambiental. Moro com meus pais, minha irmã mais
         nova de 10 anos e meu irmão mais velho, de 23 anos.</p>
         <div class="botao-container"> 
         <a class="botao" data-anime="600">Vamos jogar algo?</a>
        </div>
  </div>
  <img 
        src="assets/Eu.jpg" 
        alt="Instagram"
        width="32px"
        height="32px">
  

  </div>
</main>

