<div class="home__container">
  <app-card
  gameCover="assets/Livro01.jpg"
  gameLabel="Adam Silvera"
  gameType="✮✮✮✮✮"
  gamePrice="Maravilhoso"
  cardLink="https://www.amazon.com.br/primeiro-morrer-no-final/dp/6555603518"
  ></app-card>

  <app-card
  gameCover="assets/Livro02.jpg"
  gameLabel="George Orwell"
  gameType="✮✮✮✮✮"
  gamePrice="Perfeito"
  cardLink="https://www.amazon.com.br/1984-Edi%C3%A7%C3%A3o-com-Postais-Marcador/dp/6587034209/ref=sr_1_1_sspa?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dib=eyJ2IjoiMSJ9.YmAQI_v2aNNn_GqixoPw_VtPI44gKZMVXs193hP-7L18DXx3jOeWttcZshoLjfWhYL3iPvEtxkfBn0okEMwt4x2sKto3QrTrqOm0sARpG-rSRKLnKRyVgqwl1rRbiWURIMnw5Ve825XUyzNLZqefIYXpRj7RfHQx5bLiAx9EJiz-LfZuN-L6wOURMc2gDKoQ9ATinw5w0aSsBMw4wSOubBKdH1THJSA2zBqALTE8C7unjud1g-WmjxduDGFTQ448qtnHCHd3pcUEGW6tLqpBVkD6d3E4Sjeq8SyJzgCfS88.0vsqB9ybaXVDc9r6HyGGACpJns2ydUD3MZRBkG4pIwA&dib_tag=se&keywords=1984&qid=1744126696&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1"
  ></app-card>
  
  <app-card
  gameCover="assets/Livro03.jpg"
  gameLabel="Aluísio Azevedo"
  gameType="✮✮✮✮✮"
  gamePrice="Referência"
  cardLink="https://www.amazon.com.br/corti%C3%A7o-Alu%C3%ADsio-Azevedo/dp/8594318839/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2HJ2ZFWC2LJZD&dib=eyJ2IjoiMSJ9.5tF7Q4clMvfK1lxQmTSKHdq89CrMnYhOT7vRS7GBpuhdF6NVt4cm0ThVF-29Gdm2TzWa369Ipp81V1lll_Y-NDYAQti4JrLOuqSDgmEjTxSAHX3Ov6h3dEjWb1PkziJp0hjuSb_WLyyUXWgB1wA4-z0w0hS1FXR2zVDkqIZ2JOkjcLtI8oNUCAWgz8xTeTm2td18mq1q6MeGGN0hjR5vn6kIx1pWgp68ctsJaXzmFWF_enR0-SboUF7ggdDksYWL32fIZQ7WBPC84tD70krYn1-7RqAXUZgaxGaaR-Dgty0.HNjUDsox_2329z5ctzM04hkNLORScp1LUNGdHnLrdYE&dib_tag=se&keywords=o+corti%C3%A7o&qid=1744126654&sprefix=o+corti%C3%A7%2Caps%2C275&sr=8-1"
  ></app-card>

  <app-card
  gameCover="assets/Livro04.jpg"
  gameLabel="Agatha Christie"
  gameType="✮✮✮✮✮"
  gamePrice="Misterioso"
  cardLink="https://www.amazon.com.br/n%C3%A3o-sobrou-nenhum-Agatha-Christie/dp/8525057010/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3HXXXTE173VAO&dib=eyJ2IjoiMSJ9.sLkx4p7v6HQuCKOyWyd-2NEgqq9D2RBwcO4XDA1CRmaRUzwXfxYx5um7uTYHIprmpwgu-7uwFLVQ89EXTMCgxYKepls-Uwe6iRXnpa0rzdlNjDyvOq0PhpISDT6WlxfQ9L5Tmg1f73hnr7wqv6dIesTRDN4RFrlKK8k0uomJww7vo9F68TZNhHu99tHyUF8-BQ97hZZzvSNgGMovXHIWCAv4z6-QfBs8Psrlevoed4FEPuQtQqHIgFDWXt6SOxOZ1kHzp72WKBSj-rDOkGQbS46u6LigHI_czyjyMGnReuA.dLjZoX5yBygWCALk_j0aEnfJvoMwEegpramr7kg836Y&dib_tag=se&keywords=e+n%C3%A3o+sobrou+nenhum&qid=1744126716&sprefix=e+n%C3%A3o+sobrou+nenhu%2Caps%2C201&sr=8-1&ufe=app_do%3Aamzn1.fos.6d798eae-cadf-45de-946a-f477d47705b9"
  ></app-card>
  
</div>

<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
<article class="tecnologia-bg">
  <div class="tecnologia container">
    <div class="tecnologia-conteudo">
      <span class="font-2-l-b">Minha Jornada</span>
      <h2 class="font-1-xxl">Conheça um pouco minha jornada e desafios<span class="cor-p1">.</span></h2>
      <p class="font-2-l">Apesar de ainda estar na introdução do ramo profissional, possuo uma certa experiência 
        proveniente de meus estudos, cursos e atividades extracurriculares como também experiências profissionais.
      </p>

      <div class="skills-grid-container">
        <div class="skills-row">
          <div class="skill-card">
            <img 
              src="assets/globo.png" 
              alt="Ícone Green Belt" 
              class="skill-card-img"> 
            <h3 class="font-1-m cor-0">Green Belt em Lean Six Sigma</h3>
            <p class="font-2-s cor-5">Aprendi a usar ferramentas estatísticas e métodos de controle de qualidade para ajudar a melhorar processos.</p>
          </div>
          
          <div class="skill-card">
            <img src="assets/icon2.png" 
            alt="Competição de programação" 
            class="skill-card-img">
            <h3 class="font-1-m cor-0">Competição de programação</h3>
            <p class="font-2-s cor-5">Pude auxiliar como monitor e professor, com os participantes aprendendo as bases da programação em Python.</p>
          </div>
        </div>

        <div class="skills-row">
          <div class="skill-card">
            <img src="assets/icon3.png" 
            alt="Data Science" 
            class="skill-card-img">
            <h3 class="font-1-m cor-0">Data Science</h3>
            <p class="font-2-s cor-5">Proporcionou uma base sólida em cálculo, Python, análise exploratória de dados e banco de dados.</p>
          </div>
          
          <div class="skill-card">
            <img src="assets/icon3.png" 
            alt="" 
            class="skill-card-img">
            <h3 class="font-1-m cor-0">Competição de programação</h3>
            <p class="font-2-s cor-5">Buscamos sempre utilizar ferramentas tecnológicas atualizadas para o aperfeiçoamento de nossos serviços.</p>
          </div>
        </div>
      </div>

      <section class="cta-section">
        <a href="https://www.linkedin.com/in/vinicius-gatti-529856215/details/certifications/" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
        <btn-primary btn-text="Veja com mais detalhes"></btn-primary>
      </a>
      </section>
    </div>
    
    <div class="tecnologia-imagem">
      <img src="assets/trator.png" alt="Minha jornada profissional">
    </div>
  </div>
</article>
<app-newsletter-form></app-newsletter-form>




