<div class="home__container">
  <app-card
  gameCover="assets/sp.png"
  gameLabel="Estado 01"
  gameType="São Paulo | SP"
  gamePrice="R$129,99"
  ></app-card>

  <app-card
  gameCover="assets/maranhao.png"
  gameLabel="Estado 02"
  gameType="Maranhão | MA"
  gamePrice="R$269,99"
  ></app-card>
  
  <app-card
  gameCover="assets/goias.png"
  gameLabel="Estado 03"
  gameType="Goiás | GO"
  gamePrice="R$369,99"
  ></app-card>

  <app-card
  gameCover="assets/mt.png"
  gameLabel="Estado 04"
  gameType="Mato Grosso | MT"
  gamePrice="R$369,99"
  ></app-card>
  
</div>

<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
<article class="tecnologia-bg">
  <div class="tecnologia container">
  <div class="tecnologia-conteudo">
      <span class="font-2-l-b">Tecnologia Avançada</span>
      <h2 class="font-1-xxl">Você poderá consultar informações de diversas regiões<span class="cor-p1">.</span></h2>
      <p class="font-2-l">Cada região é única e possui a sua identidade. As características 
          fornecídas serão precisas para suas consultas, garantindo maior disseminação de informações para sua análise.</p>
      <a class="font-2-l"  href="#">ESCOLHA UMA REGIÃO</a>
      <div class="tecnologia-vantagens">
  <div>
    <img 
    src="assets/globo.png" 
    alt=""
    width="24px"
    height="24px">
      <h3 class="font-1-m cor-0">Informações Gerais</h3>
      <p class="font-2-s cor-5">Através do nosso site, você pode encontrar informações das mais diversas regiões para suas consultas comerciais ou estudos.</p>
  </div>
  <div>
      <img 
      src="assets/icon2.png" 
      alt=""
      width="24px"
      height="24px">
      <h3 class="font-1-m cor-0">Atualizações</h3>
      <p class="font-2-s cor-5">O site é constantemente atualizadado, com novas informações e conteúdos, o que contribui em um material cada vez mais completo e atualizado.</p>
      </div>
      <div>
        <img 
        src="assets/icon3.png" 
        alt=""
        width="24px"
        height="24px">
        <h3 class="font-1-m cor-0">Tecnologia</h3>
        <p class="font-2-s cor-5">Buscamos sempre utilizar ferramentas tecnológias atualizadas para a atualização e aperfeiçoamento de nosso site e seus serviços ofertados</p>
        </div>
      </div>
      <section class="cta-section">
        <btn-primary btn-text="Fale com nossa equipe"></btn-primary>
      </section>
  </div>
  <div class="tecnologia-imagem">
    <img 
    src="assets/trator.png" 
    alt=""
    width="1200px"
    height="1600px">
  </div>
  </div>
</article>
<app-newsletter-form></app-newsletter-form>




